ion-tab-bar{
    background-color: cadetblue;
}
ion-tab-button{
    background-color: cadetblue;
}
ion-label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
}
ion-icon{
    color: aliceblue;
}
